nav{
	display: flex;
	-webkit-flex-direction: row;
	    -ms-flex-direction: row;
	        flex-direction: row;
	justify-content: flex-end;
	list-style: none;
}

.active{
	color: #999;
}

nav li{
	padding: 5px 10px;
    /*border: 1px solid #5d7979;*/
    border-radius: 3px;
    background: #f1f1f1;
}