h4{
	/*text-decoration: underline;*/
}
h3{
    padding: 20px 0;
    /* box-shadow: 0 3px 0px #ddd; */
    border-bottom: 1px solid #89aba3;
    position: relative;
}
h3:before{
	content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 3px solid #8cada5;
    border-radius: 50%;
    bottom: -3px;
    right: -3px;
}
code{
	background: #f3f3f3;
    padding: 3px 5px;
    border-radius: 3px;
}
.content a{
	font-weight: 400;
	text-decoration: underline;
}

.content{
	padding-bottom: 50px;
}

.images ul{
	display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    flex-wrap: wrap
}

.images li{
	margin: 10px;
}

.images img{
	width: 100px;
}