body{
	overflow:auto;
	font-family:"Montserrat", sans-serif;
	font-size: 14px;
	line-height: 22px;
	background: #fafafa;
	color: #000;	
	font-weight: 300;
	min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top left, #4f3c9c, #e74f4f);
}

#main{
	margin-top: 50px;
}

section{
	max-width: 950px;
	flex: 1;
	margin: 100px 100px;
	background: #fff;
	border-radius: 3px;
	min-width: 950px;
	position:relative;
	transition: all .4s linear;
	box-shadow: 0px 0px 10px #3e3e3e;
}

section::before, section::after{
	/*content: "";*/
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-width: 25px;
    border-color: #5c7575;
    border-style: solid;
    /* border-radius: 5px; */
    /*border-top-color: #e65959;
    border-left-color: #e65959;*/
    border-bottom-right-radius: 3px;
}

section::before{
	transform: rotate3d(-1, 1, 0, 0deg);
    /*box-shadow: 3px 3px 2px #d6d5d5;*/
    backface-visibility: visible;
    transition: all .4s linear;
}

section:hover:before{
	transform: rotate3d(-1, 1, 0, 45deg);
	/*box-shadow: 5px 5px 20px #aaa;*/
}


section::after{
	border-color: transparent;
    border-top-color: #3d576b;
    border-left-color: #3d576b;
    top: -5px;
    border-width: 30px;
    left: -5px;
}
section > *{
	padding: 0 50px;
}

@media only screen and (min-width:768px){
	section > *{
		padding: 0 100px;
	}
}

h1{
	/*font-variant: small-caps;*/
	/*padding-bottom: 25px;*/
	/*border-bottom: 1px solid #5d7979;*/
	
	/*background: linear-gradient(to top left, #ebf3ad, #9fe2aa);*/
    border-top-right-radius: 3px;
    margin:0;
}
p{
	letter-spacing: -0.009em;
	padding-top: 30px;
}

h2{
	font-weight: 100;
}

.heading{
	display: flex;
	justify-content: space-between;
	padding:0;
	padding: 75px 50px 50px;
}

.content{
	padding-bottom: 50px;
	overflow: hidden;
	height: fit-content;
	animation: fade_in .6s ease-in;	
	transform-origin: 0 0;
}

@keyframes fade_in{
	0%{
		opacity: 0;
		/*transform: scaleY(0);*/
	}
	50%{
		/*transform: scaleY(1);*/
	}
	100%{
		opacity: 1;		
	}
}

@keyframes fade_out{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.content[next=true]{
	animation: fade_out 1s linear;
}

@media only screen and (max-width:768px){
	html, body{
		margin: 0;
		padding: 0;
	}

	section{
		min-width: 100vw;
		width: 100vw;
		margin: 0;
		border-radius: 0;
	}

	section::before, section::after{
		content: none;
	}

	h1{
		margin-top:0;
	}

}

.things{
	cursor: pointer;
}