
@import url('https://fonts.googleapis.com/css?family=Space+Mono:700i');
body{
	overflow:auto;
	font-family:"Space Mono", monospace;
	background: #e65a5a;
	color: #111;	
}
section{
	max-width: 700px;
	padding: 50px;
	margin: 100px auto 0;
	background: #fafafa;
	border-radius: 3px;
	background: linear-gradient(to bottom right, #eee, #fff, #fbfbfb);
	position:relative;
	box-shadow: 5px 5px 2px #9a3737;
}
section::before, section::after{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-width: 25px;
    border-color: #000;
    border-style: solid;
    /* border-radius: 5px; */
    border-top-color: #e65959;
    border-left-color: #e65959;
    border-bottom-right-radius: 3px;
}

section::before{
	transform: rotate3d(-1, 1, 0, 0deg);
    box-shadow: 3px 3px 2px #d6d5d5;
    backface-visibility: visible;
    transition: all .4s linear;
}

section:hover:before{
	transform: rotate3d(-1, 1, 0, 45deg);
	box-shadow: 5px 5px 20px #aaa;
}


section::after{
	border-color: transparent;
    border-top-color: #e65959;
    border-left-color: #e65959;
}


h1{
	color: #111111;
	font-variant: small-caps;
	padding-bottom: 25px;
	border-bottom: 1px solid #777;
}
p{
	color: #111111;
	letter-spacing: -0.009em;
	padding-top: 30px;
}