<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<title>Neethu Mariya Joy | Student</title>
	<link rel="stylesheet" href="/assets/stylesheets/style.css">
	<link rel="stylesheet" href="/assets/stylesheets/nav.css">
	<link rel="stylesheet" href="/assets/stylesheets/blog.css">
</head>
<body>
	<section>
		<div class="heading">
			<a href="/"><h1>Neethu Mariya Joy</h1></a>
			<nav>
				<a href="/blog" class="{% if page.title == 'Blog'%}active{% endif %}"
				><li>Blog</li></a>
			</nav>
		</div>

		{{ content }}
	 </section>
    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-118279343-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-118279343-1');
	</script>
	<script type="text/javascript">
		// Array.from(document.querySelectorAll('a')).forEach(ele =>{
		// 	ele.addEventListener('click', function(event){
		// 		erase();
		// 		console.log(event)
		// 	})
		// })

		// function erase(){
		// 	document.querySelector('.content').setAttribute('next', 'true');
		// }
	</script>
</body>
</html>